body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: aqua;
}

h1 {
    color: green;

}

h2 {
    color: gray;
}

h3 {
    color: darkcyan;
}

.head {


    background-image: linear-gradient(pink, aqua);
}

.head a {
    text-align: right;
}

.position {
    display: flex;
}

span {
    color: rgba(49, 89, 162, 0.822);
}

p {
    color: cadetblue;
}

a {
    color: black;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(aqua, green);
    padding: 5px 15px;
    font-weight: 700;
}

.flex-area {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 100%;
}

.design-item {
    padding-left: 100px;
    padding-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    width: 30%;
    border-radius: 10%;
    box-shadow: 20px 20px 50px 20px gray;
}

#design {
    padding: 35px;
}

#small-pic {
    width: 225px;
}

footer {
    text-align: center;
    background-color: black;
}

#followers {
    border-radius: 10%;
    box-shadow: 10px 10px 50px 10px gray;
    width: 80%;
    text-align: right;
}

.followers {
    padding: 10px;
    margin: 3%;
    width: 30%;
}

#a {
    width: 250px;
    height: 0%;
}